@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1 id="panel1">Hello Testing</h1>

    <p>"Hello jquery for fun."</p>
    <div class="jumbotron">
        <h1>Let's have fun</h1>
        <button class="panel-button" data-panelid="panel1">#btn1</button>
        <button class="panel-button" data-panelid="panel2">#btn2</button>
        <button class="panel-button" data-panelid="panel3">#btn3</button>
        <button class="panel-button" data-panelid="panel4">#btn4</button>


    </div>






</div>


